<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Berecki könyvtár</title>
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/full_book.css" />
    <meta id="bid" name="bid" content="<%= bid %>" />
  </head>
  <body>
    <div class="fixed_header">
      <div class="fixed_header_left">
        <img class="fixed_header_image" src="/styles/static/CIMER.png" />
      </div>
      <div class="fixed_header_center">
        <h1 class="fixed_header_title">Berecki könyvtár</h1>
      </div>
      <div class="fixed_header_right">
        <button class="general_button" id="add_book_btn">
          <img class="general_button_icon" src="/styles/static/book-plus.svg" />
          <div class="tooltip">Új Könyv</div>
        </button>
        <button class="general_button" id="add_user_btn">
          <img class="general_button_icon" src="/styles/static/user-plus.svg" />
          <div class="tooltip">Új Felhasználó</div>
        </button>
        <button class="general_button" id="backup_btn">
          <img class="general_button_icon" src="/styles/static/backup.svg" />
          <div class="tooltip">Backup!</div>
        </button>
      </div>
    </div>
    <div id="full_book_main" class="full_book_main">
      <div id="full_book_details" class="full_book_details">
        <div id="full_book_picture" class="full_book_picture">
          <img class="book_thumbnail" src="/styles/static/default_book.png" />
        </div>
        <div id="full_book_text" class="full_book_text">
          <h2>teszt</h2>
          <h2>teszt</h2>
          <h2>teszt</h2>
          <h2>teszt</h2>
        </div>
      </div>
      <div id="full_book_text" class="full_book_text">
        <div id="full_book_notes" class="full_book_notes">
          <h2>teszt notes</h2>
          <h2>teszt notes</h2>
          <h2>teszt notes</h2>
          <h2>teszt notes</h2>
        </div>
        <div id="full_book_lend" class="full_book_lend">
          <h2>teszt lend</h2>
          <h2>teszt lend</h2>
          <h2>teszt lend</h2>
          <h2>teszt lend</h2>
        </div>
      </div>
    </div>
    <h1>Document for book ID: <%= bid%></h1>
    <div class="version" id="version"></div>
  </body>
  <script type="module" src="/scripts/common.js"></script>
  <script type="module" src="/scripts/full_book.js"></script>
</html>
