<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <title>Berecki könyvtár</title>
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/book_table.css" />
  </head>
  <body>
    <div class="header">
      <a href="/">
        <img src="/styles/static/CIMER.png" />
      </a>
      <h1>Berecki könyvtár</h1>

      <nav>
        <div class="dropdown-menu">
          <img src="/styles/static/menu.svg" />
          <div class="dropdown">
            <a href="/">
              <img src="/styles/static/home.svg" />
              <p>Home</p>
            </a>
            <a href="/book">
              <img src="/styles/static/book-plus.svg" />
              <p>Uj Konyv</p>
            </a>
            <a href="/user">
              <img src="/styles/static/user-plus.svg" />
              <p>Uj Felhasznalo</p>
            </a>
            <a href="/book/table">
              <img src="/styles/static/list.svg" />
              <p>Konyv Lista</p>
            </a>
            <a href="#" id="backup_btn">
              <img src="/styles/static/backup.svg" />
              <p>Backup</p>
            </a>
          </div>
        </div>
        <div class="dropdown-menu">
          <img src=<%=(!!locals.user_pic) ? "/"+user_pic :
          "/styles/static/default_book.png"%> />
          <div class="dropdown">
            <a href=<%=(!!locals.user_id) ? "/user/"+user_id :"/"%> >
              <img src="/styles/static/user.svg" />
              <p><%=(!!locals.user_name) ? user_name : "???"%></p>
            </a>
            <a href="#" id="logout">
              <img src="/styles/static/logout.svg" />
              <p>Kijelentkezes</p>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <div class="enable_div" id="disable_div"></div>

    <div class="order_div" id="book_order_div"></div>

    <div id="book_table_header" class="book_table">
      <h2>ISBN</h2>
      <h2>Cim</h2>
      <h2>Szerzo</h2>
      <h2>Tipus</h2>
      <h2>Megjelenes</h2>
      <h2>Kiado</h2>
      <h2>Kiadas</h2>
      <h2>Ar</h2>
      <h2>Allapot</h2>
      <h2>Reg. szam</h2>
    </div>

    <div id="book_table" class="book_table"></div>

    <div id="navi" class="navi">
      <img id="navi_back" class="navi_icon" src="/styles/static/back.svg" />
      <input
        id="navi_page"
        class="navi_input"
        type="text"
        id="navi"
        name="navi"
        value=""
      />
      <h3 id="navi_text"></h3>
      <img id="navi_next" class="navi_icon" src="/styles/static/next.svg" />
    </div>

    <div id="global_status" class="global_status">
      <%=(!!locals.message) ? message : "" %>
    </div>

    <div class="version" id="version"></div>
  </body>

  <script type="module" src="/scripts/book_table.js"></script>
  <script type="module" src="/scripts/common.js"></script>
</html>
