<!DOCTYPE html>
<html>
  <head>
    <title>Berecki könyvtár</title>
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/book_table.css" />
  </head>
  <body>
    <div class="fixed_header">
      <div class="fixed_header_left">
        <img class="fixed_header_image" src="/styles/static/CIMER.png" />
      </div>
      <div class="fixed_header_center">
        <h1 class="fixed_header_title">Berecki könyvtár</h1>
      </div>
      <div class="fixed_header_right">
        <button class="general_button" id="main_btn">
          <img class="general_button_icon" src="/styles/static/home.svg" />
          <div class="tooltip">Főoldal</div>
        </button>
        <button class="general_button" id="add_book_btn">
          <img class="general_button_icon" src="/styles/static/book-plus.svg" />
          <div class="tooltip">Új Könyv</div>
        </button>
        <button class="general_button" id="backup_btn">
          <img class="general_button_icon" src="/styles/static/backup.svg" />
          <div class="tooltip">Backup!</div>
        </button>
      </div>
    </div>

    <div class="enable_div" id="disable_div"></div>

    <div class="order_div" id="book_order_div"></div>

    <div id="book_table_header" class="book_table">
      <h2>ISBN</h2>
      <h2>Cim</h2>
      <h2>Szerzo</h2>
      <h2>Tipus</h2>
      <h2>Megjelenes</h2>
      <h2>Kiado</h2>
      <h2>Kiadas</h2>
      <h2>Ar</h2>
      <h2>Allapot</h2>
      <h2>Reg. szam</h2>
    </div>

    <div id="book_table" class="book_table"></div>

    <div id="navi" class="navi">
      <img id="navi_back" class="navi_icon" src="/styles/static/back.svg" />
      <input
        id="navi_page"
        class="navi_input"
        type="text"
        id="navi"
        name="navi"
        value=""
      />
      <h3 id="navi_text"></h3>
      <img id="navi_next" class="navi_icon" src="/styles/static/next.svg" />
    </div>

    <div id="global_status" class="global_status">
      <%=(!!locals.message) ? message : "" %>
    </div>

    <div class="version" id="version"></div>
  </body>

  <script type="module" src="/scripts/book_table.js"></script>
</html>
