<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />

    <title>Berecki könyvtár</title>
    <link rel="stylesheet" href="styles/common.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/index-grid.css" />
    <link rel="stylesheet" href="styles/lend.css" />
  </head>

  <body>
    <div class="header">
      <a href="/">
        <img src="styles/static/CIMER.png" />
      </a>
      <h1>Berecki könyvtár</h1>

      <nav>
        <% if (admin) { %>
        <div class="dropdown-menu">
          <img src="styles/static/menu.svg" />
          <div class="dropdown">
            <a href="/">
              <img src="/styles/static/home.svg" />
              <p>Home</p>
            </a>
            <a href="/book">
              <img src="styles/static/book-plus.svg" />
              <p>Uj Konyv</p>
            </a>
            <a href="/user">
              <img src="styles/static/user-plus.svg" />
              <p>Uj Felhasznalo</p>
            <a href="/book/table">
              <img src="/styles/static/list.svg" />
              <p>Konyv Lista</p>
            </a>
            <a href="/user/table">
              <img src="/styles/static/list.svg" />
              <p>Felh. Lista</p>
            </a>
            <a href="/loan/statistics">
              <img src="/styles/static/list.svg" />
              <p>Statisztikak</p>
            </a>
            <a href="#" id="backup_btn">
              <img src="styles/static/backup.svg" />
              <p>Backup</p>
            </a>
          </div>
        </div>
        <% } %> 
        <div class="dropdown-menu">
          <img src=<%=(!!locals.user_pic) ? "/"+user_pic :
          "/styles/static/default_book.png"%> />
          <div class="dropdown">
            <a href=<%=(!!locals.user_id) ? "/user/"+user_id :"/"%> >
              <img src="styles/static/user.svg" />
              <p><%=(!!locals.user_name) ? user_name : "???"%></p>
            </a>
            <a href="#" id="logout">
              <img src="styles/static/logout.svg" />
              <p>Kijelentkezes</p>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <div class="global_status" id="global_status"></div>
    <div class="enable_div" id="disable_div"></div>

    <div class="seach_results_block">
      <img class="search_icon" src="styles/static/book.svg" />
      <form class="search" id="search_books">
        <p>Mezo</p>
        <p></p>
        <p>Rendezes</p>
        <p>Raktaron?</p>
        <p>Aktiv?</p>
        <p>KONYV</p>

        <div class="order_div" id="book_key_div"></div>

        <input type="search" id="book_key" name="key" placeholder="Kereses" />

        <div class="order_div" id="book_order_div"></div>

        <div class="avl_tool">
          <input type="checkbox" id="avl" name="avl" checked="true" />
          <div class="tooltip">Raktaron</div>
        </div>
        <div class="book_sts_tool">
          <input type="checkbox" id="status" name="status" checked="true" />
          <div class="tooltip">Aktiv</div>
        </div>
        <button class="general_button" id="search_books_btn">
          <img class="general_button_icon" src="styles/static/kereso.png" />
        </button>
      </form>
    </div>

    <div class="list_div" id="books_div"></div>
    <% if (admin) { %>
    <div class="seach_results_block">
      <img class="search_icon" src="styles/static/user.svg" />
      <form class="search" id="search_users">
        <p>Mezo</p>
        <p></p>
        <p>Rendezes</p>
        <p></p>
        <p>Aktiv?</p>
        <p>FELHASZNALO</p>

        <div class="order_div" id="user_key_div"></div>

        <input type="search" id="user_key" name="key" placeholder="Kereses" />

        <div class="order_div" id="user_order_div"></div>
        <div></div>

        <div class="user_sts_tool">
          <input type="checkbox" id="status" name="status" checked="true" />
          <div class="tooltip">Aktiv</div>
        </div>
        <button class="general_button" id="search_user">
          <img class="general_button_icon" src="styles/static/kereso.png" />
        </button>
      </form>
    </div>

    <div class="list_div" id="users_div"></div>

    <div class="loan_header" id="lend_div">
      <img class="search_icon" src="/styles/static/register.svg" />
      <button class="general_button" id="lend_button">
        <img class="general_button_icon" src="/styles/static/edit.png" />
      </button>
    </div>
    <div>
      <div id="loan_details" class="loan_details" hidden>
        <p id="loan_info" class="loan_info_text"></p>
        <form id="loan_form">
          <input
            type="text"
            id="loan_text"
            name="loan_text"
            placeholder="Megjegyzes"
          />
          <div>
            <button type="submit" id="submit_loan" class="general_button">
              <img src="/styles/static/ok.svg" class="general_button_icon" />
            </button>
            <button type="button" id="cancel_loan" class="general_button">
              <img src="/styles/static/x.svg" class="general_button_icon" />
            </button>
          </div>
        </form>
      </div>
    </div>
    <% } %>
    <div class="version" id="version"></div>
  </body>

  <script type="module" src="scripts/index_books.js"></script>
  <script type="module" src="scripts/index_users.js"></script>
  <script type="module" src="scripts/lend.js"></script>
</html>
