<!DOCTYPE html>
<html>
  <head>
    <title>Berecki könyvtár</title>
    <link rel="stylesheet" href="styles/common.css" />
    <link rel="stylesheet" href="styles/index-grid.css" />
    <link rel="stylesheet" href="styles/index-details.css" />
  </head>
  <body>
    <div class="fixed_header">
      <div class="fixed_header_left">
        <img class="fixed_header_image" src="styles/static/CIMER.png" />
      </div>
      <div class="fixed_header_center">
        <h1 class="fixed_header_title">Berecki könyvtár</h1>
      </div>
      <div class="fixed_header_right">
        <button class="general_button" id="add_book_btn">
          <img class="general_button_icon" src="styles/static/book-plus.svg" />
          <div class="tooltip">Új Könyv</div>
        </button>
        <button class="general_button" id="book_table_btn">
          <img class="general_button_icon" src="styles/static/list.svg" />
          <div class="tooltip">Könyv Lista</div>
        </button>
        <button class="general_button" id="backup_btn">
          <img class="general_button_icon" src="styles/static/backup.svg" />
          <div class="tooltip">Backup!</div>
        </button>
        <button class="general_button" id="logout">
          <img class="general_button_icon" src="styles/static/logout.svg" />
          <div class="tooltip">Kijelentkezes</div>
        </button>
      </div>
    </div>

    <div class="details_div" id="details_div"></div>
    <div class="global_status" id="global_status"></div>
    <div class="enable_div" id="disable_div"></div>

    <div class="seach_results_block">
      <img class="search_icon" src="styles/static/book.svg" />
      <form class="search" id="search_books">
        <select id="book_type" name="type">
          <option value="title">Konyvcim</option>
          <option value="author">Szerzo</option>
          <option value="genre">Tipus</option>
          <option value="id">Azonosito</option>
          <option value="isbn">ISBN</option>
          <option value="year">Megjelent</option>
          <option value="publ">Kiado</option>
          <option value="ver">Kiadas</option>
          <option value="keys">Kulcsszo</option>
        </select>

        <input type="text" id="book_key" name="key" placeholder="Kereses" />

        <div class="order_div" id="book_order_div"></div>

        <div class="avl_tool">
          <input type="checkbox" id="avl" name="avl" checked="true" />
          <div class="tooltip">Raktaron</div>
        </div>
        <div class="book_sts_tool">
          <input type="checkbox" id="status" name="status" checked="true" />
          <div class="tooltip">Aktiv</div>
        </div>
        <button class="general_button" id="search_books_btn">
          <img class="general_button_icon" src="styles/static/kereso.png" />
        </button>
      </form>
    </div>

    <div class="list_div" id="books_div"></div>

    <div class="seach_results_block">
      <img class="search_icon" src="styles/static/user.svg" />
      <form class="search" id="search_users">
        <select id="user_type" name="type">
          <option value="name">Nev</option>
          <option value="phone">Telefonszam</option>
          <option value="mail">e-Mail</option>
        </select>
        <input type="text" id="user_key" name="key" placeholder="Kereses" />

        <div class="order_div" id="user_order_div"></div>
        <div></div>

        <div class="user_sts_tool">
          <input type="checkbox" id="status" name="status" checked="true" />
          <div class="tooltip">Aktiv</div>
        </div>
        <button class="general_button" id="search_user">
          <img class="general_button_icon" src="styles/static/kereso.png" />
        </button>
      </form>
    </div>

    <div class="list_div" id="users_div"></div>

    <div class="seach_results_block" id="lend_div">
      <img class="search_icon" src="styles/static/register.svg" />
      <button class="general_button" id="lend_button">
        <img class="general_button_icon" src="styles/static/edit.png" />
      </button>
    </div>

    <div class="version" id="version"></div>
  </body>

  <script type="module" src="scripts/genre.js"></script>
  <script type="module" src="scripts/index_books.js"></script>
  <script type="module" src="scripts/index_users.js"></script>
  <script type="module" src="scripts/lend.js"></script>
</html>
