<!DOCTYPE html>
<html>
  <head>
    <title>Berecki könyvtár</title>
    <link rel="stylesheet" href="styles/common.css" />
    <link rel="stylesheet" href="styles/index-grid.css" />
    <link rel="stylesheet" href="styles/index-details.css" />
  </head>
  <body>
    <div class="fixed_header">
      <div class="fixed_header_left">
        <img class="fixed_header_image" src="styles/static/CIMER.png" />
      </div>
      <div class="fixed_header_center">
        <h1 class="fixed_header_title">Berecki könyvtár</h1>
      </div>
      <div class="fixed_header_right">
        <button class="general_button" id="add_book_btn">
          <img class="general_button_icon" src="styles/static/book-plus.svg" />
          <div class="tooltip">Új Könyv</div>
        </button>
        <button class="general_button" id="add_user_btn">
          <img class="general_button_icon" src="styles/static/user-plus.svg" />
          <div class="tooltip">Új Felhasználó</div>
        </button>
        <button class="general_button" id="backup_btn">
          <img class="general_button_icon" src="styles/static/backup.svg" />
          <div class="tooltip">Backup!</div>
        </button>
      </div>
    </div>

    <!-- TODO -->

    <div class="version" id="version"></div>
  </body>

  <script type="module" src="scripts/genre.js"></script>
  <script type="module" src="scripts/index_books.js"></script>
  <script type="module" src="scripts/index_users.js"></script>
  <script type="module" src="scripts/lend.js"></script>
</html>
