<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <title>Berecki könyvtár</title>
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/header.css" />
  </head>
  <body>
    <div class="header">
      <a href="/">
        <img src="/styles/static/CIMER.png" />
      </a>
      <h1>Berecki könyvtár</h1>

      <nav>
        <div class="dropdown-menu">
          <img src="/styles/static/menu.svg" />
          <div class="dropdown">
            <a href="/">
              <img src="/styles/static/home.svg" />
              <p>Home</p>
            </a>
            <a href="/book">
              <img src="/styles/static/book-plus.svg" />
              <p>Uj Konyv</p>
            </a>
            <a href="/user">
              <img src="/styles/static/user-plus.svg" />
              <p>Uj Felhasznalo</p>
            </a>
            <a href="/book/table">
              <img src="/styles/static/list.svg" />
              <p>Konyv Lista</p>
            </a>
            <a href="/user/table">
              <img src="/styles/static/list.svg" />
              <p>Felh. Lista</p>
            </a>
            <a href="/loan/statistics">
              <img src="/styles/static/list.svg" />
              <p>Statisztikak</p>
            </a>
            <a href="#" id="backup_btn">
              <img src="/styles/static/backup.svg" />
              <p>Backup</p>
            </a>
          </div>
        </div>
        <div class="dropdown-menu">
          <img src=<%=(!!locals.user_pic) ? "/"+user_pic :
          "/styles/static/default_book.png"%> />
          <div class="dropdown">
            <a href=<%=(!!locals.user_id) ? "/user/"+user_id :"/"%> >
              <img src="/styles/static/user.svg" />
              <p><%=(!!locals.user_name) ? user_name : "???"%></p>
            </a>
            <a href="#" id="logout">
              <img src="/styles/static/logout.svg" />
              <p>Kijelentkezes</p>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <h1>UNDER CONSTRUCTION...</h1>

    <div class="enable_div" id="disable_div"></div>

    <div id="global_status" class="global_status">
      <%=(!!locals.message) ? message : "" %>
    </div>

    <div class="version" id="version"></div>
  </body>

  <script type="module" src="/scripts/common.js"></script>
</html>
