<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <title>Berecki könyvtár</title>
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/user_login.css" />
  </head>
  <body>
    <div class="header">
      <a href="/">
        <img src="/styles/static/CIMER.png" />
      </a>
      <h1>Berecki könyvtár</h1>
    </div>

    <form action="/user/login" method="POST" class="user_login_form">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="your@email.please"
        required
      />

      <input
        type="password"
        id="password"
        name="password"
        placeholder="Jelszó"
        required
      />
      <div class="user_login_buttons">
        <button
          onclick="window.location.href='/user'"
          type="button"
          class="general_button"
        >
          <img
            src="/styles/static/user-plus.svg"
            id="register"
            class="general_button_icon"
          />
        </button>

        <button type="submit" class="general_button">
          <img
            src="/styles/static/ok.svg"
            id="login"
            class="general_button_icon"
          />
        </button>
      </div>
    </form>

    <div class="global_status" id="global_status"></div>

    <div class="version" id="version"></div>
  </body>
</html>
