.book_form_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  width: 1000px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.book_form_div {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 400px;
  column-gap: 20px;
  row-gap: 10px;
  background-color: #b2b9af;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.book_form_line {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.genre_adder_div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.book_form_title {
  position: relative;
  text-align: center;
  align-items: center;
  width: 380;
  height: 40px;
  top: -50px;
  left: 10px;
  background-color: #b2b9af;
  border-radius: 10px;
  align-self: center;
}

.book_thumbnail {
  position: relative;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*book action buttons */
.book_actions {
  display: flex;
  justify-content: space-around;
}
/* book extanded details */

.book_xt {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  text-align: center;
}
.book_notes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;

  border: 2px solid darkgreen;
}

.book_loan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;

  border: 2px solid darkgreen;
}
