:root {
  --primary-color: #3c6d79;
  --primary-font: #f9ae65;
  --secondary-color: #e0e2ee;
  --secondary-color-sel: #3c6d795b;
}

body {
  background: var(--primary-color);
  padding-top: 120px;
  font-family: "Roboto", monospace;
  color: var(--primary-font);
}

input {
  height: 38px;
  width: 250px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

input[type="radio" i] {
  appearance: auto;
  width: 25px;
}

input[type="file" i] {
  appearance: auto;
  width: 65px;
}

input[type="checkbox" i] {
  appearance: auto;
  width: 25px;
}

select {
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(239, 248, 239);
}
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-font);
  font-weight: bold;
}
button {
  border: none;
  outline: none;
  background-color: var(--secondary-color);
}

.general_button {
  width: 70px;
  align-items: center;
  justify-items: center;

  border-radius: 20px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
  transition: border-radius 0.5s;
}

.general_button_icon {
  height: 30px;
  opacity: 0.7;
}

.general_button:hover .tooltip {
  opacity: 1;
}

.thumbnail {
  align-self: center;
  height: 100px;
  border-radius: 30px;

  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(2);
  transform-origin: center center;
}

.tooltip {
  position: absolute;
  background-color: lightgray;
  opacity: 0;
  top: 60px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.ok_btn {
  width: 30px;
  right: 50px;
  bottom: 10px;
  position: absolute;
}

.ok_btn:hover {
  background-color: rgb(153, 140, 140);
}

.cancel_btn {
  width: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.cancel_btn:hover {
  background-color: rgb(153, 140, 140);
}

.global_status {
  background-color: rgb(75, 38, 38);
  position: fixed;
  left: 500px;
  top: 115px;

  font-weight: bold;
  font-size: 16px;
  z-index: 200;
}

.version {
  /* position: absolute; */
  bottom: 0;
  left: 10;
  width: 100%;
  text-align: right;
  color: rgb(167, 165, 165);
}

.disable_div {
  position: fixed;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(126, 126, 126);

  opacity: 0.8;

  left: 50px;
  right: 50px;
  top: 80px;
  bottom: 80px;

  z-index: 200;

  border-radius: 30px;
}

.enable_div {
  position: fixed;
  display: none;
  background-color: rgb(126, 126, 126);
}

.disable_text {
  color: red;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 100px;
}

.disable_thumbnail {
  width: 100px;
}
