.seach_results_block {
  display: grid;
  align-items: center;
  grid-template-columns: 80px 680px;

  border-bottom: 2px solid rgb(133, 133, 133);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-radius: 30px;
}

.search_icon {
  width: 50px;
  opacity: 0.7;
}

.search {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

/* book search section: end  */

/* book list: start  */
.list_div {
  display: grid;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1100px) {
  .list_div {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1101px) and (max-width: 1650px) {
  .list_div {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1651px) {
  .list_div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.book_div {
  display: grid;
  height: 100px;
  grid-template-columns: 180px 1fr;
  column-gap: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 18px;
}

.book_details_div {
  display: grid;
  margin-right: 20px;
  margin-left: 20px;
}

.book_first_line {
  display: grid;
  align-items: center;
  grid-template-columns: 50px 1fr 1fr;
}

.book_second_line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.book_second_line {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.book_third_line {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.user_thumbnail {
  width: 100%;
  border-radius: 90px;
  margin-left: 10px;
  margin-right: 10px;
}

.avl_tool,
.book_sts_tool,
.user_sts_tool {
  position: relative;
}

.avl_tool:hover .tooltip,
.book_sts_tool:hover .tooltip,
.user_sts_tool:hover .tooltip {
  opacity: 1;
}
