body {
  background-color: #e0e0e0;
  padding-top: 70px;
}

div {
}

button {
}

button:hover {
}

button:active {
}

label {
}

input {
}

input:disabled {
}

h1 {
  margin: 0;
}

p {
}

select {
}

input[type="checkbox"]:hover {
}
