body {
  background: rgb(208, 223, 210);
  background: linear-gradient(
    90deg,
    rgb(191, 206, 193) 0%,
    rgb(214, 238, 217) 50%,
    rgb(191, 206, 193) 100%
  );
  padding-top: 70px;
}

input {
  height: 30px;
  border-radius: 10px;
}

select {
  height: 30px;
  border-radius: 10px;
}
p {
  margin: 0;
}

.ok_btn {
  width: 30px;
  right: 50px;
  bottom: 10px;
  position: absolute;
}

.ok_btn:hover {
  background-color: rgb(153, 140, 140);
}

.cancel_btn {
  width: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.cancel_btn:hover {
  background-color: rgb(153, 140, 140);
}

.global_status {
  background-color: rgb(238, 129, 129);
  position: fixed;
  left: 300px;
  top: 80px;
}

.version {
  /* position: absolute; */
  bottom: 0;
  left: 10;
  width: 100%;
  text-align: right;
  color: rgb(167, 165, 165);
}

.disable_div {
  position: fixed;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(126, 126, 126);

  opacity: 0.8;

  left: 50px;
  right: 50px;
  top: 80px;
  bottom: 80px;

  z-index: 200;

  border-radius: 30px;
}

.enable_div {
  position: fixed;
  display: none;
  background-color: rgb(126, 126, 126);
}

.disable_text {
  color: red;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 100px;
}

.disable_thumbnail {
  width: 100px;