/* header section: start */
.fixed_header {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(199, 221, 199);
  grid-template-columns: 150px 500px 200px;
}

.fixed_header_image {
  height: 55px;
  margin-left: 10px;
}

.fixed_header_title {
  margin: 0;
  margin-right: 15vw;
}

.fixed_header_right {
  width: 180px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

/* header section: end */

/* book search section: start  */
.search_main {
  display: grid;
  align-items: center;
  grid-template-columns: 80px 580px;
  margin-top: 70px;
}

.search_icon {
  display: block;
  width: 50px;
}

.search_button {
  display: block;
  width: 50px;
  transition: background-color 0.5s;
}

.search_button:hover {
  background-color: rgb(153, 140, 140);
}

.search {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  flex: 1;
}

/* book search section: end  */

/* book list: start  */
.list_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book_table {
  display: block;
}
/* book list: end  */
