.details_div {
  display: grid;
  grid-template-columns: 300px 200px;
  column-gap: 20px;
  position: fixed;
  left: 100px;
  opacity: 1;
  background-color: #d1dbcd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.detail_options {
  width: 30px;
  transition: background-color 0.5s;
}

.detail_options:hover {
  background-color: rgb(153, 140, 140);
}

.detail_options:hover {
  background-color: rgb(153, 140, 140);
}

.detail_text {
  min-height: 420px;
}
