.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 150px 400px 200px;
  justify-content: center;
  background: rgb(178, 255, 186);
  background: linear-gradient(
    90deg,
    rgb(133, 194, 139) 0%,
    rgb(182, 248, 188) 50%,
    rgb(136, 196, 142) 100%
  );
  border-radius: 20px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.fixed_header_image {
  height: 55px;
  margin-left: 10px;
}

.fixed_header_title {
  margin: 0;
}

.fixed_header_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}
