.search_main {
  display: grid;
  align-items: center;
  grid-template-columns: 80px 580px;
}

.search_icon {
  width: 50px;
}

.search_button {
  width: 60px;
  transition: background-color 0.5s;
}

.search_button:hover {
  background-color: rgb(153, 140, 140);
}

.search_button_icon {
  height: 50px;
}

.search {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 1fr 130px 30px 1fr;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

/* book search section: end  */

/* book list: start  */
.list_div {
  display: grid;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

@media (max-width: 600px) {
  .list_div {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 601px) and (max-width: 1050px) {
  .list_div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1050px) and (max-width: 1300px) {
  .list_div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1301px) {
  .list_div {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.book_thumbnail {
  width: 100%;
}
.book_table {
  display: grid;
}
