.search_main {
  display: grid;
  align-items: center;
  grid-template-columns: 80px 580px;
}

.search_icon {
  width: 50px;
}

.search_button {
  width: 60px;
  transition: background-color 0.5s;
}

.search_button:hover {
  background-color: rgb(153, 140, 140);
}

.search_button_icon {
  height: 50px;
}

.search {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 1fr 130px 30px 1fr;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-bottom: 30px;
}

/* book search section: end  */

/* book list: start  */
.list_div {
  display: grid;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 30px;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .list_div {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 901px) and (max-width: 1400px) {
  .list_div {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1401px) {
  .list_div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.book_thumbnail {
  width: 100%;
  border-radius: 10px;
  margin-left: 10px;
}
.book_div {
  display: grid;
  height: 300px;
  grid-template-columns: 180px 300px;
  align-items: center;
  column-gap: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book_first_line {
  display: grid;
  grid-template-columns: 30px 1fr 1fr;
}

.book_second_line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.book_third_line {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}
