.details_div {
  display: grid;
  grid-template-columns: 300px 200px;
  position: fixed;
  left: 100px;
  opacity: 1;
  background-color: #d1dbcd;
}

.detail_options {
  width: 30px;
  transition: background-color 0.5s;
}

.detail_options:hover {
  background-color: rgb(153, 140, 140);
}

.detail_options:hover {
  background-color: rgb(153, 140, 140);
}

.approve_btn {
  left: 50px;
  position: absolute;
}

.revert_btn {
  position: absolute;
}
