.details_div {
  display: block;
  position: fixed;
  left: 100px;
  opacity: 1;
  width: 300px;
  background-color: #e0e0e0;
  border: 2px solid red;
  border-radius: 20px;
}

.detail_options {
  width: 30px;
  transition: background-color 0.5s;
}

.detail_options:hover {
  background-color: rgb(153, 140, 140);
}

.detail_options:hover {
  background-color: rgb(153, 140, 140);
}
